<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('Detail')">
</head>
<body>
<div id="wrapper">

    <div th:replace="common :: header"></div>

    <div class="container mt-5 p-3">
        <h2 class="text-center mt-3">お問い合わせ詳細</h2>
        <table class="table table-bordered mt-3"  th:object="${contact}">
            <tr>
                <th scope="row">ID</th>
                <td id="id" th:text="*{id}"></td>
            </tr>
            <tr>
                <th scope="row">名前</th>
                <td id="name" th:text="*{name}"></td>
            </tr>
            <tr>
                <th scope="row">メールアドレス</th>
                <td id="mail" th:text="*{mail}"></td>
            </tr>
            <tr>
                <th scope="row">問い合わせ内容</th>
                <td id="content" th:text="*{content}"></td>
            </tr>
        </table>
        <div class="text-center mt-5">
            <a class="btn btn-outline-primary btn-md" href="/contact/list" role="button">お問い合わせ一覧へ</a>
        </div>
    </div>

    <div th:replace="common :: footer"></div>
</div>
</body>
</html>
