<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('List')">
</head>
<body>
<div id="wrapper">

    <div th:replace="common :: header"></div>

    <div class="container mt-5 p-3">
        <h2 class="text-center">お問い合わせ一覧</h2>
        <table class="table table-striped mt-3">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">名前</th>
                <th scope="col">メールアドレス</th>
                <th scope="col">問い合わせ内容</th>
                <th scope="col">日時</th>
            </tr>
            <tr th:each="contact:${contacts}" th:object="${contact}">
                <td id="id" scope="row"><a th:text="*{id}" th:href="@{detail/{id}(id = *{id})}"></a></td>
                <td id="name" th:text="*{name}"></td>
                <td id="mail" th:text="*{mail}"></td>
                <td id="content" th:text="*{content}"></td>
                <td id="created" th:text="*{created}"></td>
            </tr>
        </table>
        <div class="text-center mt-5">
            <a class="btn btn-outline-primary btn-md" href="/" role="button">トップへ</a>
        </div>
    </div>
    <div th:replace="common :: footer"></div>
</div>
</body>
</html>